h2 {
  font-weight: normal;
  color: #8458B3;
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
}

body {
  color: #300030;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.topContainer {
  background-color: #D0BDF4;
  position: relative;
  padding-top: 10px;
}

.underline {
  text-decoration: underline;
}

.middleContainer {
  margin: 10px 0;
}

h3 {
  color: #8458B3;
  font-size: 1.2rem;
  font-family: 'DM Serif Display', serif;
}

.introPara {
  width: 80%;
  margin: auto;
}

p {
  line-height: 1.8;
}

.sci-eng-list {
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: left;
  padding: 10px;
}

.listImg {
  width: 10%;
  float: left;
  margin-right: 25px;
}

.bottomContainer {
  background-color: #D0BDF4;
  padding: 20px 0 10px 0;
}

a {
  color: #300030;
  font-family: 'Merriweather', serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #8458B3;
}

.footer-link {
  color: #300030;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 0 0 0 0;
}
